/* Varables */
* {
  --primaryColor: #1D2025;
}

/* Gobal */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
    }

h1 {
color: #DEF863;
}

h2 {
  color: #DEF863;
  }

p {
  color: #DEF863;
  }

li {
  color: #DEF863;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);
   }

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

main {
  min-height: 100vh;
  background-color: #292D32;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
}

footer > p {
  margin: 5px 0;
}

a {
  color: white;
}

section {
  min-height: 50vh;
}

/* Non-global */
.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}